.itemDetailContainer {
  padding: 80px 200px;
  background-color: var(--color-bg);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.itemDetailContainer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-footer);
  border-radius: 30px;
  padding-right: 15px;
}

.itemDetailContainer-data__container {
  display: flex;
  flex-direction: column;
}

.itemDetailContainer img {
  width: 307px;
  height: 320px;
  margin-right: 50px;
  border-radius: 30px;
}

.itemDetailContainer h1 {
  margin-bottom: 10px;
}

.itemDetailContainer h2 {
  margin-bottom: 30px;
}
