@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto+Condensed:wght@300&family=Rubik:wght@400;500&display=swap");

:root {
  --font-family: "Roboto";
  --color-bg: #1c1c1c;
  --color-footer: #121418;
  --color-secundary: #e31515;
}
